html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #edeaff;
}

.stopwatch {
  width: 90%;
  max-width: 600px;
  background: #191919;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  margin: 200px auto 0;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}